.vehicle-card-container {
  padding: 20px;
  background-color: #f9f9f9;
  margin-left: 20%;
  margin-right: 15%;
  font-family: "Work Sans", sans-serif; /* Tipografía aplicada */
}

.vehicle-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fff; /* Color blanco para fondo */
  overflow: hidden;
  cursor: pointer;
}

.vehicle-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  gap: 5%; /* Más separación uniforme entre secciones */
}

.vehicle-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 20%; /* Aumenta el ancho mínimo del logo y nombre */
}

.vehicle-logo {
  width: 100%; /* Imagen se adapta al contenedor */
  height: auto;
  max-height: 60px; /* Altura máxima del logo para mantener proporción */
  object-fit: contain;
}

.vehicle-name {
  margin: 0;
  font-size: 18px;
  color: #18191d; /* Texto en color oscuro */
}

.expand-indicator {
  font-size: 14px;
  color: #565656; /* Texto en gris oscuro */
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.expand-icon {
  font-size: 16px;
  color: #18191d; /* Ícono en color oscuro */
}

.vehicle-info {
  flex: 2; /* Aumenta el espacio asignado a esta sección */
  text-align: left; /* Justificado hacia la izquierda */
}

.vehicle-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #565656; /* Texto en gris oscuro */
}

.vehicle-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos más a la izquierda */
  gap: 20%; /* Separación uniforme entre precio, estrellas e ícono */
  min-width: 29%; /* Asegura espacio suficiente para estas acciones */
}

.price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color: #18191d; /* Texto en color oscuro */
}

.vehicle-rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 5px;
  font-size: 14px;
  color: #fd7e14; /* Color naranja */
}

.cart-icon {
  font-size: 18px;
  color: #18191d; /* Ícono en color oscuro */
}

.vehicle-details {
  padding: 15px;
  background-color: #f1f1f1; /* Fondo claro */
  font-family: "Work Sans", sans-serif; /* Asegura la misma tipografía */
}

.vehicle-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.schedule-info {
  text-align: center;
  color: #565656; /* Texto en gris oscuro */
}

.buy-button {
  padding: 8px 12px;
  background-color: #fd7e14; /* Botón en color naranja */
  color: #fff; /* Texto en blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif; /* Asegura la misma tipografía */
}

.buy-button:hover {
  background-color: #e96d0f; /* Más oscuro al pasar el mouse */
}
